@import '../../shared/styles/helpers';

:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.vertical-scroll-container {
  overflow-y: scroll;
}

h2 {
  color: #58736c;
  font-size: 1.4em;
}

.selection {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.player {
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px;
  width: 100px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover:not(.disabled) {
    background: #3e8371;
  }

  &.selected {
    background: white;
    color: #2d3436;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.main-panel {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw / 2);
}

table {
  width: 80%;
}

th {
  padding: 0px 5px;
  color: white;
}

.start-match {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #f03a17;
  width: 33%;
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  min-height: 40px;

  & > div {
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    background: white;
    color: #3a4a46;
    padding: 2px 4px;
    border-radius: 2px;
    flex: 1;
    min-width: 150px;
  }

  & .category {
    color: white;
    background: #2980b9;
  }
}

@media only screen and (max-width: 980px) {
  .category-wrapper {
    flex-direction: column;
  }
}

.same {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background: orange;
}

.up {
  color: #00b894;
}

.down {
  color: #d63031;
}

