<div class="header">
  <div class="clickable" (click)="toggleNavBar()">
    <span>&#9776;</span>
  </div>
  <div class="logo">
    🏓 Team Rank
  </div>
</div>
<div ngClass="nav-bar-container" (click)="toggleNavBar()">
  <nav ngClass="nav-bar" [style.display]="showNavBar ? 'flex' : 'none'">
    <div routerLink="/game/new" class="clickable">new game</div>
    <div routerLink="/tournament/create" class="clickable">new tournament</div>
    <div routerLink="/leaderboard" class="clickable">leaderboard</div>
    <div routerLink="/admin/players" *ngIf="auth.user?.role === 'admin'" class="clickable">Manage players</div>
    <div [routerLink]="['/user','profile', auth.user?.id]" *ngIf="auth.user" class="clickable">{{auth.user?.name}}'s profile</div>
    <div class="clickable" (click)="signOut()">Sign out</div>
  </nav>
</div>
