@import '../../shared/styles/colors';

:host {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}

.new-game-button {
  position: absolute;
  margin-left: 10px;
  padding-right: 10px;
}

h3 {
  color: #64b39e;
  text-align: center;
  font-size: 1em;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-games {
  padding: 5px;
  flex: 1;
  text-align: center;
  overflow-y: auto;

  .game-wrapper {
    &.two-columns {
      -webkit-column-count: 2;
      column-count: 2;
    }
    .game {
      display: flex;
      align-items: baseline;
      .text {
        line-height: 1;
        span {
          font-size: 0.7em;
        }
      };
    }
  }
}

.time-ago {
  font-size: 0.7em;
  opacity: 0.6;
  margin-left: 6px;
}

.rank-wrapper {
  z-index: 1;
  max-height: calc(100vh / 2);
  overflow: auto;

  .leaderboard {
    display: block;
    flex: 1;
    padding: 5px;

    th {
      font-size: 0.6em;
      padding: 0px 5px;
      color: white;
    }

    tr {

      td {
        margin-right: 2px;
        padding: 2px 4px;
        text-align: center;
        background: white;
        color: $color-tr-dark-green;
        border-radius: 2px;
        font-size: 0.7em;

        &.name {
          &:hover {
            color: lighten($color-tr-dark-green, 20%);
          }
        }

        &.rank {
          &.first {
            color: white;
            background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #ae9a24 62.5%, #5d4a1f 100%);
          }
        }
      }
    }

  }
}

.name {
  color: white;
  &:hover {
    color: darken(white, 20%);
  }
}

.winner-name {
  color: $color-tr-green;
  &:hover {
    color: lighten($color-tr-green, 20%);
  }
}

.loser-name {
  color: $color-tr-red;
  &:hover {
    color: lighten($color-tr-red, 20%);
  }
}

.history {
  display: flex;
  justify-content: center;
}

.history-marker {
  width: 10px;
  height: 10px;
  margin-right: 2px;

  &:not(:last-child) {
    margin-right: 2px;
  }
}

.history-marker.win {
  background: $color-tr-green;
}

.history-marker.lose {
  background: $color-tr-red;
}

.streaks-container {
  width: 100vw;
  display: flex;
  .streaks {
    margin: 0px 10px;
    font-size: 0.7em;
    text-align: center;
  }
  .streaks-spacer {
    flex: 1;
  }
}

@media only screen and (min-width: 640px) {
  .streaks-container {
    position: absolute;
  }

  .rank-wrapper {
    .leaderboard {
      tr {
        td {
          padding: 2px 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  h3 {
    font-size: 1.7em;
  }
  .rank-wrapper {
    .leaderboard {
      th {
        font-size: 1em;
      }
      tr {
        td {
          font-size: 1em;
        }
      }
    }
  }

  .recent-games {
    .game-wrapper {
      .game {
        margin-bottom: 5px;
        .text {
          span {
            font-size: 1em;
          }
        }
      }
    }
  }
  .streaks-container {
    .streaks {
      font-size: 1.5em;
    }
  }
}
