<div class="leaderboard">
  <h3>Ranking</h3>
  <table>
    <thead>
    <th>Rank</th>
    <th>Name</th>
    <th>Total games</th>
    <th>Wins total</th>
    <th>Lose total</th>
    <th>Elo Rank</th>
    <th>Percentage</th>
    </thead>
    <tbody>
    <tr *ngFor="let player of ranking; let index = index; let first = first"
        [ngClass]="{'first': first}">
      <td>{{index + 1}}</td>
      <td>{{player.name}}</td>
      <td>
        <ng-container *ngIf="getTotalGames(player) as totalGames; else noData">
          {{totalGames}}
        </ng-container>
      </td>
      <td>{{player.totalWins}}</td>
      <td>{{player.totalLoses}}</td>
      <td>{{player.eloRank}}</td>
      <td>
        <ng-container *ngIf="getPercentage(player.winPercentage) as percentage; else noData">
          {{percentage}} %
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="recent-games">
  <h3>Last 20 games</h3>
  <ng-container *ngIf="(games$ | async) as games">
    <div *ngIf="games.length === 0">No games available</div>
    <div class="game" *ngFor="let game of games">
    <span class="winner-name">
      {{getWinnerName(game)}}
    </span> hat <span class="loser-name">{{getLoserName(game)}}</span> mit <span class="winner-score">{{getWinnerScore(game)}}</span>
      zu <span class="loser-score">{{getLoserScore(game)}}</span> geschlagen.
    </div>
  </ng-container>

</div>



<ng-template #noData>0 %</ng-template>
