:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

h3 {
  color: #64b39e;
  text-align: center;
  font-size: 1.7em;
}

.recent-games {
  padding: 5px;
  flex: 1;
  text-align: center;
  overflow-y: auto;

  .game {
    margin-bottom: 5px;
  }
}

.leaderboard {
  flex: 1;
  padding: 5px;

  th {
    padding: 0px 15px;
    color: white;
  }

  tr {

    td {
      margin-right: 10px;
      padding: 4px 15px;
      text-align: center;
      background: white;
      color: #3a4a46;
      border-radius: 2px;

      &.rank {
        &.first {
          color: white;
          background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
          radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #ae9a24 62.5%, #5d4a1f 100%);
        }
      }
    }
  }

}

.winner-name {
  color: #00b894;
}

.loser-name {
  color: #d63031;
}


