:host {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.stage-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  .stage {
    margin: 0 0 20px 0;
  }
}

.game-wrapper, .stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.game {
  display: flex;
  margin: 10px;
}

.player-wrapper.out {
  opacity: 0.4;
}

.player {
  display: flex;
  height: 50px;
  color: #2d3436;
}

.name {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-right: 5px;
}

.score {
  margin-left: 2px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.vs {
  margin: 10px;
}

@media only screen and (min-width: 1370px) {
  .stage-wrapper {
    flex-direction: row;
  }

  .stage-name {
    margin-bottom: 20px;
  }

  .game {
    flex-direction: column;
    margin: 0 0 60px 0;
  }
}
