:host {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hint {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  margin-top: 10px;

  &.swappedPlayers {
    flex-direction: column-reverse;
  }
}

.controls {
  display: flex;
}

.player {
  flex: 1;
  display: flex;
  cursor: pointer;
  margin: 0px 20px;
  padding: 10px;

  &.active {
    outline: 10px white solid;
  }

  .player-info {
    flex: 1;

    .name {
      padding: 0 10px;
    }
  }
}

.control-hint {
  display: flex;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  flex: 1;
}

.key {
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 45px;
  height: 55px;
  line-height: 58px;
  color: #2d3436;
  padding: 2px;
}

.finish-game {
  top: 0;
  text-align: center;
  transition: 1s all;
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s all;

  .close {
    position: absolute;
    right: 2vh;
    top: 0;
    color: black;
  }

  &.maximized {
    font-size: 4.6em;
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    margin-top: 10vh;
  }

  &.finished {
    z-index: 999;
    opacity: 1;

    .winner-info {
      color: white;
      font-size: 0.65em;

      .name {
        color: #fff;
        text-shadow: 2px 1px 0px #40ad2c, 3px 2px 0px #3e8371, 4px 2px 0 #3e8371;
      }
    }
  }
}

@media only screen and (min-width: 640px) {
  .result {
    flex-direction: row;
    font-size: 30px;

    &.swappedPlayers {
      flex-direction: row-reverse;
    }
  }
}
@media only screen and (min-width: 1280px) {
  .hint {
    font-size: 30px;
  }

  .conrols {
    display: block;
  }

  .key {
    width: 65px;
    height: 70px;
    line-height: 74px;
  }

  .result {
    font-size: 100px;
    align-items: center;
    flex: 1;
  }
}
