<ng-container *ngIf="game">

  <div class="hint" *ngIf="!activePlayer">
    Select who is serving first by clicking on a player's name.
  </div>

  <div class="button finish-game" [class.disabled]="!isGameFinished()" (click)="finishGame()">
    Finish Game
  </div>

  <div class="result">
    <div class="player" [class.active]="isActivePlayer(game.firstPlayerId)" (click)="setToActive(game.firstPlayerId)">
      <div class="name">
        {{game.firstPlayerName}}
      </div>
      <div class="score">
        {{game.firstPlayerScore}}
      </div>
      <div class="control-hint">
        <div class="key">
          W
        </div>
        <div class="description">
          Punkt +
        </div>
      </div>
      <div class="control-hint">
        <div class="key">
          S
        </div>
        <div class="description">
          Punkt -
        </div>
      </div>
    </div>
    <div class="spacer">
      -
    </div>
    <div class="player" [class.active]="isActivePlayer(game.secondPlayerId)" (click)="setToActive(game.secondPlayerId)">
      <div class="name">
        {{game.secondPlayerName}}
      </div>
      <div class="score">
        {{game.secondPlayerScore}}
      </div>
      <div class="control-hint">
        <div class="key">
          ↑
        </div>
        <div class="description">
          Punkt +
        </div>
      </div>
      <div class="control-hint">
        <div class="key">
          ↓
        </div>
        <div class="description">
          Punkt -
        </div>
      </div>
    </div>
  </div>
</ng-container>
