<ng-container *ngIf="game">

  <div class="hint" *ngIf="!activePlayer && !game.done">
    Select who is serving first by clicking on a player's name.
  </div>

  <div class="button finish-game"
       *ngIf="!game.done"
       [class.disabled]="!isGameFinished()"
       [class.finished]="isGameFinished()"
       [class.maximized]="finishButtonMaximized"
       (click)="finishGame()">
    <div>
      <div *ngIf="isGameFinished() && finishButtonMaximized"
           class="close"
           (click)="finishButtonMaximized = false; $event.stopPropagation();">❌
      </div>
      <div>Finish Game</div>
      <div *ngIf="isGameFinished()" class="winner-info">
        <span class="name">{{getFinishedGameStats().winner.name}}</span>
        wins {{getFinishedGameStats().winner.score}} : {{getFinishedGameStats().loser.score}}
      </div>
    </div>
  </div>

  <div class="result" [class.swappedPlayers]="swappedPlayers">
    <div class="player" [class.active]="isActivePlayer(game.firstPlayerId)" (click)="setToActive(game.firstPlayerId)">
      <div class="controls" *ngIf="!game.done">
        <div (click)="scoreDownPlayer(1); $event.stopPropagation()">
          <div class="control-hint">
            <div class="key">-</div>
          </div>
        </div>
      </div>
      <div class="player-info">
        <div class="name">
          {{game.firstPlayerName}}
        </div>
        <div class="score">
          {{game.firstPlayerScore}}
        </div>
      </div>
      <div class="controls" *ngIf="!game.done">
        <div (click)="scoreUpPlayer(1); $event.stopPropagation()">
          <div class="control-hint">
            <div class="key">+</div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer">
      <div>-</div>
      <div *ngIf="!pointsHaveBeenMade()"
           (click)="swappedPlayers = !swappedPlayers">🔄</div>
    </div>
    <div class="player" [class.active]="isActivePlayer(game.secondPlayerId)" (click)="setToActive(game.secondPlayerId)">
      <div class="controls" *ngIf="!game.done">
        <div (click)="scoreDownPlayer(2); $event.stopPropagation()">
          <div class="control-hint">
            <div class="key">-</div>
          </div>
        </div>
      </div>
      <div class="player-info">
        <div class="name">
          {{game.secondPlayerName}}
        </div>
        <div class="score">
          {{game.secondPlayerScore}}
        </div>
      </div>
      <div class="controls" *ngIf="!game.done">
        <div (click)="scoreUpPlayer(2); $event.stopPropagation()">
          <div class="control-hint">
            <div class="key">+</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
