:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  overflow: auto;
}

h3 {
  color: #64b39e;
  text-align: center;
  font-size: 1.7em;
}

.data-wrapper {
  //display: flex;
  width: 90%;
}

.charts {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 20px;
}

.charts .block {
  flex: 1;
}

.win-lose {
  width: 100%;
  height: 200px;
}

.block {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-left: 20px;
}

.history-wrapper {
  flex: 2;
  overflow: auto;
}

.history {
  min-width: 100%;
  height: 50vh;
}

th {
  padding: 0px 4px;
  color: white;
}

tr td {
  margin-right: 10px;
  padding: 2px 4px;
  text-align: center;
  background: white;
  color: #3a4a46;
  border-radius: 2px;
}

.summary-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary, .summary-wrapper {
  display: flex;
  align-items: flex-start;
}

.summary-wrapper {
  margin-top: 20px;
}

.summary {
  margin-right: 20px;
}

.map {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.favorite {
  color: #00b894;
}

.bogey {
  color: #d63031;
}

.most-matches {
  color: #0984e3;
}

@media only screen and (min-width: 1280px) {
  :host {
    font-size: 20px;
  }

  tr,td {
    padding: 4px 15px;
  }
  th {
    padding: 0px 15px;
  }

  .data-wrapper {
    display: flex;
  }

  .history {
    height: 100%;
  }
}
